.student {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.student__img {
    width: 100%;
}

.student__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
}

.student__text {
    margin: 0 0 20px;
    font-size: 11px;
    line-height: 16px;
}

.student__text:last-child {
    margin-bottom: 0;
}

.student__socials {
    margin-top: 40px;
    display: flex;
}

.student__socials-item {
    color: #000;
    margin-right: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    transition: .3s;
}

.student__socials-item:hover {
    color: #494949;
}

.student__text-box {
    order: 2;
}

@media screen and (min-width: 768px) {
    .student__img {
        order: 2;
        width: 255px;
        padding-left: 49px;
    }
    .student__text-box {
        order: 1;
        width: calc(100% - 304px);
    }
    .student__text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (min-width: 991px) {
    .student__img {
        width: 270px;
    }
    .student__text-box {
        width: 600px;
    }
    .student__text {
        font-size: 12px;
        line-height: 18px;
    }
}
